
// input.config contains all input files (genomes, etc)
includeConfig "input.config"

singularity {
  enabled = true
  runOptions = "--cleanenv --home $baseDir --bind /gpfs/afm/cg_pipelines/Pipelines/singularity/genomes:/var/spool/mail"
}

process {
    withName:haplotypeCaller {
        container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/gatk4_4.1.0.0.img'
        executor = 'lsf'
        memory = '250 GB'
        cpus = 5
        queue = 'huge-memory'
    }
    withName:sam_sort {
        container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/picard_sam_bcf_freebayes_mkdir_vcftools.img'
        executor = 'lsf'
        memory = '50 GB'
        cpus = 5
        queue = 'short-ib'
    }
    withName:picard_pcr_removal {
        container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/picard_sam_bcf_freebayes_mkdir_vcftools.img'
        executor = 'lsf'
        memory = '50 GB'
        cpus = 5
        queue = 'short-ib'
    }
    withName:rename_bam {
        container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/picard_sam_bcf_freebayes_mkdir_vcftools.img'
        executor = 'lsf'
        memory = '50 GB'
        cpus = 5
        queue = 'short-ib'
    }
    withName:cgpMAP {
        container = '/gpfs/home/aft19qdu/scratch/Projects/release_noclean/processing/cgpmap_3.0.0.img'
        executor = 'lsf'
        memory = '50 GB'
        cpus = 5
        queue = 'short-ib'
    }
    withName:BaseRecalibrator {
        container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/gatk4_4.1.0.0.img'
        }
    withName:applyBaseRecalibrator {
        container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/gatk4_4.1.0.0.img'
    }
    withName:bam_index {
        container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/picard_sam_bcf_freebayes_mkdir_vcftools.img'
        executor = 'lsf'
        memory = '50 GB'
        cpus = 2
        queue = 'short-ib'
    }
    withName:multiqc {
        container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/multiqc.img'
    }
    withName:CNNscoreVariants {
        container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/gatk4_4.1.0.0.img'
        executor = 'lsf'
        memory = '250 GB'
        cpus = 5
        queue = 'huge-memory'
    }
    withName:FilterVariantTranches {
        container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/gatk4_4.1.0.0.img'
        executor = 'lsf'
        memory = '50 GB'
        cpus = 5
        queue = 'short-ib'
    }
    withName:IndexFeatureFile {
        container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/gatk4_4.1.0.0.img'
    }
    withName:cgpwxs2 {
        executor = 'lsf'
        memory = '500 GB'
        cpus = 5
        queue = 'huge-memory'
    }
    withName:hybrid_stats {
        container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/picard_sam_bcf_freebayes_mkdir_vcftools.img'
        executor = 'lsf'
        memory = '50 GB'
        cpus = 2
        queue = 'short-ib'
    }
    withName:collect_insert_size {
        container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/picard_sam_bcf_freebayes_mkdir_vcftools.img'
        executor = 'lsf'
        memory = '50 GB'
        cpus = 2
        queue = 'short-ib'
    }
    withName:Freebayes {
        container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/picard_sam_bcf_freebayes_mkdir_vcftools.img'
        executor = 'lsf'
        memory = '500 GB'
        cpus = 5
        queue = 'huge-memory'
    }
    withName:vcf_filter {
        container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/picard_VCFfilter.img'
        executor = 'lsf'
        memory = '50 GB'
        cpus = 5
        queue = 'short-ib'
    }
    withName:functotator {
        container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/gatk4_4.1.0.0.img'
        executor = 'lsf'
        memory = '250 GB'
        cpus = 5
        queue = 'huge-memory'
    }
    withName:vcf_stats {
        container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/picard_sam_bcf_freebayes_mkdir_vcftools.img'
        executor = 'lsf'
        memory = '50 GB'
        cpus = 5
        queue = 'short-ib'
    }
    withName:isec {
        container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/picard_sam_bcf_freebayes_mkdir_vcftools.img'
        executor = 'lsf'
        memory = '50 GB'
        cpus = 5
        queue = 'short-ib'
    }
    withName:overlap_stats {
    container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/R-ron.simg'
    validExitStatus = 25
    }
    withName:zip {
        container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/picard_sam_bcf_freebayes_mkdir_vcftools.img'
        executor = 'lsf'
        memory = '50 GB'
        cpus = 1
        queue = 'short-ib'
        }
    withName:alignment_stats {
        container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/picard_bcf_sam_freebayes_mkdir.img'
        executor = 'lsf'
        memory = '50 GB'
        cpus = 2
        queue = 'short-ib'
    }
    withName:merge_vcf {
        container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/picard_sam_bcf_freebayes_bamtools.simg'
        executor = 'lsf'
        memory = '50 GB'
        cpus = 5
        queue = 'short-ib'
    }
    withName:bcf_index {
        container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/picard_sam_bcf_freebayes_mkdir_vcftools.img'
        executor = 'lsf'
        memory = '50 GB'
        cpus = 2
        queue = 'short-ib'
    }
    withName:mutect2 {
        container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/gatk4_4.1.0.0.img'
        executor = 'lsf'
        memory = '250 GB'
        cpus = 5
        queue = 'huge-memory'
    }
    withName:pileup_summary {
        container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/gatk4_4.1.0.0.img'
        executor = 'lsf'
        memory = '250 GB'
        cpus = 5
        queue = 'huge-memory'
    }
    withName:calculate_contamination {
        container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/gatk4_4.1.0.0.img'
        executor = 'lsf'
        memory = '250 GB'
        cpus = 2
        queue = 'huge-memory'
    }
    withName:filter_vcf {
        container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/gatk4_4.1.0.0.img'
        executor = 'lsf'
        memory = '250 GB'
        cpus = 5
        queue = 'huge-memory'
    }
    withName:bcf_index1 {
        container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/picard_sam_bcf_freebayes_mkdir_vcftools.img'
        executor = 'lsf'
        memory = '50 GB'
        cpus = 2
        queue = 'short-ib'
    }
    withName:seqyclean {
        container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/seqyclean_1.10.09_staphb.sif'
        executor = 'lsf'
        memory = '50 GB'
        cpus = 5
        queue = 'short-ib'
    }
    withName:combine_gvcf {
        container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/gatk4_4.1.0.0.img'
        executor = 'lsf'
        memory = '250 GB'
        cpus = 5
        queue = 'huge-memory'
    }
    withName:genotypeVCF {
        container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/gatk4_4.1.0.0.img'
        executor = 'lsf'
        memory = '50 GB'
        cpus = 5
        queue = 'short-ib'
    }
    withName:trimmomatic {
        executor = 'lsf'
        memory = '50 GB'
        cpus = 5
        queue = 'short-ib'
    }
}
