// Enter projectname (1/2 words - no spaces)

env.projectname = "tumoroid"

// Enter samples names only (no file extensions)
// Ensure Tumor-Normal samples are in correct order to eachother.

params.normal = ["CPCT12345678R_HJJLGCCXX_S1_L001_R1_001"]
params.tumor = ["CPCT12345678R_HJJLGCCXX_S10_L001_R1_001"]

// Trimmomatic adapters
env.adapter1 = "AATGATACGGCGACCACCGAGATCTACAACACGACGCTCTTCCGATCT"
env.adapter2 = "GATCGGAAGAGCACACGTCTGAACTCCAGTCACNNNNNNATCTCGTATGCCGTCTTCTGCTTG"

// Enter singularity PATH for cgpMAP genome bait_capture_files
// remember mounts are:  /gpfs/home/aft19qdu/scratch/singularity/GATK_functotator_files:/var/spool/mail/

env.cgpmap_genome = "/var/spool/mail/cgpwgs_ref/GRCh38/core_ref_GRCh38_hla_decoy_ebv.tar.gz"
env.cgpmap_index = "/var/spool/mail/cgpwgs_ref/GRCh38/bwa_idx_GRCh38_hla_decoy_ebv.tar.gz"
env.genome_fasta = "/var/spool/mail/cgpwgs_ref/GRCh38/core_ref_GRCh38_hla_decoy_ebv/genome.fa"
env.genome_index = "/var/spool/mail/cgpwgs_ref/GRCh38/core_ref_GRCh38_hla_decoy_ebv/genome.fa.fai"
env.VEP_fasta = "/var/spool/mail/VEP_hg19/Homo_sapiens.GRCh37.75.dna.primary_assembly.fa" ### change this when fasta ou

// Bait intervals (for exome-seq)

env.bait_interval  = "/var/spool/mail/bait_capture_files/SeqCapEZ_Exome_v3.0_Design_Annotation_files/hg38/SeqCap_EZ_Exome_v3_hg38_capture_targets.interval"
env.target_interval = "/var/spool/mail/bait_capture_files/SeqCapEZ_Exome_v3.0_Design_Annotation_files/hg38/SeqCap_EZ_Exome_v3_hg38_primary_targets.interval"
env.haplotypecaller_bed = "/var/spool/mail/bait_capture_files/SeqCapEZ_Exome_v3.0_Design_Annotation_files/hg38/SeqCap_EZ_Exome_v3_hg38_primary_targets.bed"

//verifybamid files

env.verifybamid = "/var/spool/mail/hg38/1000g/ALL.wgs.shapeit2_integrated_v1a.GRCh38.20181129.sites_EUROPE_AF.vcf"

// GATK Known sites
env.GATK_dbsnp138 = "/var/spool/mail/hg38/GATK/germline_resource/Homo_sapiens_assembly38.dbsnp138.vcf"
env.GATK_1000G = "/var/spool/mail/hg38/GATK/germline_resource/1000G_phase1.snps.high_confidence.hg38.vcf.gz"
env.GATK_mills = "/var/spool/mail/hg38/GATK/germline_resource/Mills_and_1000G_gold_standard.indels.hg38.vcf.gz"
env.GATK_hapmap = "/var/spool/mail/hg38/GATK/germline_resource/hapmap_3.3.hg38.vcf.gz"

// GATK Panel of Normals for Mutect2  somatic-hg38_1000g_pon.hg38.vcf
env.Mutect2_germline = "/var/spool/mail/hg38/GATK/GATK_pon_germline_resource_hg38/somatic-hg38_af-only-gnomad.hg38.vcf"
env.Mutect2_PoN = "/var/spool/mail/hg38/GATK/GATK_pon_germline_resource_hg38/somatic-hg38_1000g_pon.hg38.vcf"

// Select allele frequency groups and allele frequencies
// If only one groups is required; repeat the first in 2nd group
// Find group names at link: https://gatk.broadinstitute.org/hc/en-us/articles/360035889931-Funcotator-Information-and-Tutorial#1.3.1.2

env.AF_group1 = "gnomAD_exome_AF"
env.AF_group2 = "gnomAD_exome_AF_nfe"

env.AF1= "0.001"
env.AF2= "0.001"

env.DP=10
