includeConfig 'input.config'

singularity {
  enabled = true
  runOptions = "--home $baseDir --bind /gpfs/afm/cg_pipelines/Pipelines/singularity/genomes/:/var/spool/mail"
}

executor {
    $lsf {
      queueSize = 10
      errorStrategy = 'retry'
      maxRetries = 5
      submitRateLimit = '1 / 1min'
    }

    $local{
      queueSize = 100
      errorStrategy = 'retry'
      maxRetries = 5
      submitRateLimit = '1 / 5sec'
    }
}


process {
    withName:haplotypeCaller {
        container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/gatk4_4.1.0.0.img'
        executor = 'lsf'
        memory = '65 GB'
        queue = 'short-ib'
        cpus = 5
    }
    withName:sam_sort {
        container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/picard_sam_bcf_freebayes_mkdir_vcftools.img'
        executor = 'lsf'
        memory = '65 GB'
        queue = 'short-ib'
        cpus = 2
    }
    withName:picard_pcr_removal {
        container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/picard_sam_bcf_freebayes_mkdir_vcftools.img'
        executor = 'lsf'
        memory = '65 GB'
        queue = 'short-ib'
        cpus = 5
    }
    withName:rename_bam {
        container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/picard_sam_bcf_freebayes_mkdir_vcftools.img'
        executor = 'lsf'
        memory = '65 GB'
        queue = 'short-ib'
        cpus = 5
    }
    withName:cgpMAP {
        container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/cgpmap_3.0.0.img'
        executor = 'lsf'
        memory = '65 GB'
        queue = 'short-ib'
        cpus = 5
    }
    withName:FastP {
        container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/fastp.img'
        executor = 'lsf'
        memory = '32 GB'
        queue = 'short-ib'
        cpus = 5
    }
    withName:BaseRecalibrator {
        container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/gatk4_4.1.0.0.img'
        executor = 'lsf'
        memory = '65 GB'
        queue = 'short-ib'
        cpus = 5
    }
    withName:applyBaseRecalibrator {
        container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/gatk4_4.1.0.0.img'
        executor = 'lsf'
        memory = '65 GB'
        queue = 'short-ib'
        cpus = 5
    }
    withName:bam_index {
        container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/picard_sam_bcf_freebayes_mkdir_vcftools.img'
        executor = 'lsf'
        memory = '65 GB'
        queue = 'short-ib'
        cpus = 5
    }
    withName:multiqc {
        container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/multiqc.img'
        executor = 'lsf'
        memory = '32 GB'
        queue = 'short-ib'
        cpus = 5
    }
    withName:CNNscoreVariants {
        container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/gatk4_4.1.0.0.img'
        executor = 'lsf'
        memory = '50 GB'
        queue = 'short-ib'
        cpus = 5
    }
    withName:collect_insert_size {
        container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/picard_sam_bcf_freebayes_mkdir_vcftools.img'
        executor = 'lsf'
        memory = '65 GB'
        queue = 'short-ib'
        cpus = 4
    }
    withName:hybrid_stats {
        container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/picard_sam_bcf_freebayes_mkdir_vcftools.img'
        executor = 'lsf'
        memory = '65 GB'
        queue = 'short-ib'
        cpus = 5
    }

    withName:alignment_stats {
        container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/picard_bcf_sam_freebayes_mkdir.img'
        executor = 'lsf'
        memory = '65 GB'
        cpus = 5
        queue = 'short-ib'
    }
    withName:trimgalore{
        executor = 'lsf'
        memory = '65 GB'
        cpus = 5
        queue = 'short-ib'
        queueSize = 15
        pollInterval = '60 sec'
    }
    withName:genotypeVCF {
        container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/gatk4_4.1.0.0.img'
        executor = 'lsf'
        memory = '265 GB'
        queue = 'large-mem'
        cpus = 5
    }
    withName:vcf_filter{
        container='/gpfs/afm/cg_pipelines/Pipelines/singularity/images/picard_VCFfilter.img'
        executor = 'lsf'
        memory = '65 GB'
        cpus = 5
        queue = 'short-ib'
    }
    withName:zip{
        container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/picard_sam_bcf_freebayes_mkdir_vcftools.img'
        executor = 'lsf'
        memory = '65 GB'
        queue = 'short-ib'
        cpus = 5
    }
    withName:combine_gvcf{
        container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/gatk4_4.1.0.0.img'
        executor = 'lsf'
        memory = '65 GB'
        queue = 'short-ib'
        cpus = 5
    }
    withName:IndexFeatureFile{
        container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/gatk4_4.1.0.0.img'
        executor = 'lsf'
        memory = '65 GB'
        queue = 'short-ib'
        cpus = 5
    }
    withName:FilterVariantTranches{
        container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/gatk4_4.1.0.0.img'
        executor = 'lsf'
        memory = '65 GB'
        queue = 'short-ib'
        cpus = 5
    }
    withName:merge_vcf{
        container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/picard_sam_bcf_freebayes_mkdir_vcftools.img'
        executor = 'lsf'
        memory = '65 GB'
        queue = 'short-ib'
        cpus = 5
    }
    withName:bcf_index{
        container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/picard_sam_bcf_freebayes_mkdir_vcftools.img'
        executor = 'lsf'
        memory = '65 GB'
        queue = 'short-ib'
        cpus = 5
    }
    withName:Freebayes{
        container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/picard_sam_bcf_freebayes_mkdir_vcftools.img'
        executor = 'lsf'
        memory = '65 GB'
        queue = 'short-ib'
        cpus = 3
    }
    withName:fqtools{
        container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/fqtools.simg'
        executor = 'local'

    }
    withName:contamination{
        container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/verifyBamID.simg'
        executor = 'lsf'
        memory = '65 GB'
        queue = 'short-ib'
        cpus = 5
    }
    withName:SamToFastQ{
        container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/picard_sam_bcf_freebayes_mkdir_vcftools.img'
        executor = 'lsf'
        memory = '65 GB'
        queue = 'short-ib'
        cpus = 5
    }
    withName:somalier{
        container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/somalier_v0.2.9.sif'
        executor = 'lsf'
        memory = '65 GB'
        queue = 'short-ib'
        cpus = 5
    }
    withName:vcf_index{
        container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/gatk4_4.1.0.0.img'
        executor = 'lsf'
        memory = '65 GB'
        queue = 'short-ib'
        cpus = 5
    }
}
