includeConfig 'samples.config'


process {
    withName:haplotypeCaller {
        container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/gatk4_4.1.0.0.img'
        executor = 'lsf'
        memory = '50 GB'
        cpus = 10
        queue = 'short-ib'
    }
    withName:sam_sort {
        container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/picard_sam_bcf_freebayes_mkdir_vcftools.img'
    }
    withName:picard_pcr_removal {
        container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/picard_sam_bcf_freebayes_mkdir_vcftools.img'
    }
    withName:rename_bam {
        container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/picard_sam_bcf_freebayes_mkdir_vcftools.img'
    }
    withName:cgpMAP {
        container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/cgpmap_3.0.0.img'
        executor = 'lsf'
        memory = '50 GB'
        cpus = 10
        queue = 'short-ib'
    }
    withName:FastP {
        container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/fastp.img'
    }
    withName:BaseRecalibrator {
        container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/gatk4_4.1.0.0.img'
    }
    withName:applyBaseRecalibrator {
        container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/gatk4_4.1.0.0.img'
    }
    withName:bam_index {
        container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/picard_sam_bcf_freebayes_mkdir_vcftools.img'
    }
    withName:multiqc {
        container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/multiqc.img'
    }
    withName:CNNscoreVariants {
        container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/gatk4_4.1.0.0.img'
    }
    withName:FilterVariantTranches {
        container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/gatk4_4.1.0.0.img'
    }
    withName:IndexFeatureFile {
        container = '/gpfs/afm/cg_pipelines/Pipelines/singularity/images/gatk4_4.1.0.0.img'
    }
}


singularity {
  enabled = true
  runOptions = " --home $baseDir --bind /gpfs/home/aft19qdu/scratch/singularity/GATK_functotator_files:/var/spool/mail"
}
