// Enter projectname (1/2 words - no spaces)

projectname = "project1"

// Enter samples names only (no file extensions)
// Ensure Tumor-Normal samples are in correct order to eachother.

params.normal = ["CPCT12345678R_HJJLGCCXX_S1_L001_R1_001"]
params.tumor = ["CPCT12345678R_HJJLGCCXX_S10_L001_R1_001"]


// Enter singularity PATH for cgpMAP genome bait_capture_files
// remember mounts are:  /gpfs/home/aft19qdu/scratch/singularity/GATK_functotator_files:/var/spool/mail/

env.cgpmap_genome = "/var/spool/mail/cgpwgs_ref/GRCh38/core_ref_GRCh38_hla_decoy_ebv.tar.gz"
env.cgpmap_index = "/var/spool/mail/cgpwgs_ref/GRCh38/bwa_idx_GRCh38_hla_decoy_ebv.tar.gz"
env.genome_fasta = "/var/spool/mail/cgpwgs_ref/GRCh38/core_ref_GRCh38_hla_decoy_ebv/genome.fa"


// Bait intervals (for exome-seq)

env.bait_interval  = "/var/spool/mail/bait_capture_files/SeqCap_EZ_MedExome/MedExome_hg38_capture_targets.interval"
env.target_interval = "/var/spool/mail/bait_capture_files/SeqCap_EZ_MedExome/MedExome_hg38_empirical_targets.interval"


// GATK Known sites
env.GATK_dbsnp138 = "/var/spool/mail/hg38/GATK/germline_resource/Homo_sapiens_assembly38.dbsnp138.vcf"
env.GATK_1000G = "/var/spool/mail/hg38/GATK/germline_resource/1000G_phase1.snps.high_confidence.hg38.vcf.gz"
env.GATK_mills = "/var/spool/mail/hg38/GATK/germline_resource/Mills_and_1000G_gold_standard.indels.hg38.vcf.gz"
env.GATK_hapmap = "/var/spool/mail/hg38/GATK/germline_resource/hapmap_3.3.hg38.vcf.gz"
